# Day 31 :- pd.Series()

pd.Series() is a constructor function in the pandas library that creates a one-dimensional labeled array, known as a Series, in which data is stored in a column-like structure. A Series can hold various data types, such as integers, floats, strings, or even Python objects.

1. Using pandas, from the list below:

stocks = ['PLW', 'CDR', '11B', 'TEN']

create a Series object and print it to the console.v

In [1]:
import pandas as pd
stocks = ['PLW', 'CDR', '11B', 'TEN']
print(pd.Series(data=stocks))

0    PLW
1    CDR
2    11B
3    TEN
dtype: object

2. Using pandas, from the dictionary below:

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}

create a Series object and assign it to the quotations variable. In response, print quotations variable to the console.

In [4]:
import pandas as pd
stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
print(quotations)

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

3. The following Series is given (quotations variable):

PLW    387.0
CDR    339.5
TEN    349.5
11B    391.0
dtype: float64

Convert quotations to the list and print it to the console.

In [5]:
import pandas as pd

stocks = {'PLW': 387.00, 'CDR': 339.5, 'TEN': 349.5, '11B': 391.0}
quotations = pd.Series(data=stocks)
quotations = quotations.tolist()
print(quotations)

[387.0, 339.5, 349.5, 391.0]