# Day 44 - concatenating & exporting

1. The df DataFrame is given below. Take a sample of ten rows from this DataFrame and save to sample_10.csv file.

In [1]:
import pandas as pd
import numpy as np

np.random.seed(42)
url = ( 'https://ml-repository-krakers.s3-eu-west-1.amazonaws.com/kaggle+/churn_modelling/Telco-Customer-Churn.csv' )
df = pd.read_csv(url, index_col=0)
df.sample(10).to_csv('sample_10.csv')

2. The following objects are given:

s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))

Combine these two Series into one DataFrame and assign to df variable. Set the column names 'col1' and 'col2' respectively. In response, print this DataFrame to the console.

In [2]:
import numpy as np
import pandas as pd
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df)

        col1      col2
0   0.374540 -1.012831
1   0.950714  0.314247
2   0.731994 -0.908024
3   0.598658 -1.412304
4   0.156019  1.465649
5   0.155995 -0.225776
6   0.058084  0.067528
7   0.866176 -1.424748
8   0.601115 -0.544383
9   0.708073  0.110923
10  0.020584 -1.150994
11  0.969910  0.375698
12  0.832443 -0.600639
13  0.212339 -0.291694
14  0.181825 -0.601707
15  0.183405  1.852278
16  0.304242 -0.013497
17  0.524756 -1.057711
18  0.431945  0.822545
19  0.291229 -1.220844

3. The df DataFrame is given below. Extract rows from this DataFrame for which the col2 column is between 0.0 and 1.0 (inclusive).
In response, print result to the console.

In [3]:
import numpy as np
import pandas as pd
 
np.random.seed(42)
s1 = pd.Series(np.random.rand(20))
s2 = pd.Series(np.random.randn(20))
df = pd.concat([s1, s2], axis=1)
df.columns = ['col1', 'col2']
print(df[df['col2'].between(0.0, 1.0)])

        col1      col2
1   0.950714  0.314247
6   0.058084  0.067528
9   0.708073  0.110923
11  0.969910  0.375698
18  0.431945  0.822545