# Day 52 - data preprocessing

1. The df DataFrame is given below. Find the number of missing values for each column and print result to the console.

In [1]:
import pandas as pd
  
url = ( 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv' )
df = pd.read_csv(url, index_col=0)
df.drop('New_Price', axis=1, inplace=True)
print(df.isnull().sum())

Name                  0
Location              0
Year                  0
Kilometers_Driven     0
Fuel_Type             0
Transmission          0
Owner_Type            0
Mileage               2
Engine               36
Power                36
Seats                42
Price                 0
dtype: int64

2. The df DataFrame is given below. Remove all rows with missing values in this object (use the inplace=True argument) In response, print info about df to the console.

In [2]:
import pandas as pd
 
url = ( 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv' )
df = pd.read_csv(url, index_col=0)
df.dropna(inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 823 entries, 2 to 6014
Data columns (total 13 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Name               823 non-null    object
 1   Location           823 non-null    object
 2   Year               823 non-null    int64
 3   Kilometers_Driven  823 non-null    int64
 4   Fuel_Type          823 non-null    object
 5   Transmission       823 non-null    object
 6   Owner_Type         823 non-null    object
 7   Mileage            823 non-null    object
 8   Engine             823 non-null    object
 9   Power              823 non-null    object
 10  Seats              823 non-null    float64
 11  New_Price          823 non-null    object
 12  Price              823 non-null    float64
dtypes: float64(2), int64(2), object(9)
memory usage: 90.0+ KB

3. The df DataFrame is given below. Replace all letters in column names with lowercase, e.g.

Name -> name
Fuel_Type -> fuel_type

Print the first five rows using the pd.DataFrame.head() and print() function.

In [3]:
import pandas as pd
  
url = ( 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv' )
df = pd.read_csv(url, index_col=0)
df.columns = [col.lower() for col in df.columns]
print(df.head())

                               name    location  year  kilometers_driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  fuel_type transmission owner_type     mileage   engine      power  seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   new_price  price
0        NaN   1.75
1        NaN  12.50
2  8.61 Lakh   4.50
3        NaN   6.00
4        NaN  17.74