# Day 51 - data preprocessing

1. Using pandas load the following csv file into the DataFrame and assign to the df variable:
    https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv
Set the index to the first column and print this DataFrame to the console.

In [1]:
import pandas as pd
 
url = ( 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv' )
df = pd.read_csv(url, index_col=0)
print(df)

                                  Name    Location  Year  Kilometers_Driven  \
0               Maruti Wagon R LXI CNG      Mumbai  2010              72000
1     Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                         Honda Jazz V     Chennai  2011              46000
3                    Maruti Ertiga VDI     Chennai  2012              87000
4      Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670
...                                ...         ...   ...                ...
6014                  Maruti Swift VDI       Delhi  2014              27365
6015          Hyundai Xcent 1.1 CRDi S      Jaipur  2015             100000
6016             Mahindra Xylo D4 BSIV      Jaipur  2012              55000
6017                Maruti Wagon R VXI     Kolkata  2013              46000
6018             Chevrolet Beat Diesel   Hyderabad  2011              47000

     Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0          CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1       Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2       Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3       Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4       Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0
...        ...          ...        ...         ...      ...        ...    ...
6014    Diesel       Manual      First   28.4 kmpl  1248 CC     74 bhp    5.0
6015    Diesel       Manual      First   24.4 kmpl  1120 CC     71 bhp    5.0
6016    Diesel       Manual     Second   14.0 kmpl  2498 CC    112 bhp    8.0
6017    Petrol       Manual      First   18.9 kmpl   998 CC   67.1 bhp    5.0
6018    Diesel       Manual      First  25.44 kmpl   936 CC   57.6 bhp    5.0

      New_Price  Price
0           NaN   1.75
1           NaN  12.50
2     8.61 Lakh   4.50
3           NaN   6.00
4           NaN  17.74
...         ...    ...
6014  7.88 Lakh   4.75
6015        NaN   4.00
6016        NaN   2.90
6017        NaN   2.65
6018        NaN   2.50

[6019 rows x 13 columns]

2. The df DataFrame is given below. Extract list with column names of this DataFrame and print it to the console.

In [2]:
import pandas as pd
 
url = ( 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv' ) 
df = pd.read_csv(url, index_col=0)
print(list(df.columns))

['Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type', 'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats', 'New_Price', 'Price']

3. The df DataFrame is given below. From this object, remove the column 'New_Price' and print the first 5 rows to the console.

In [3]:
import pandas as pd
  
url = ( 'https://storage.googleapis.com/esmartdata-courses-files/dash-course/data.csv' )
df = pd.read_csv(url, index_col=0)
df.drop('New_Price', axis=1, inplace=True)
print(df.head())

                               Name    Location  Year  Kilometers_Driven  \
0            Maruti Wagon R LXI CNG      Mumbai  2010              72000
1  Hyundai Creta 1.6 CRDi SX Option        Pune  2015              41000
2                      Honda Jazz V     Chennai  2011              46000
3                 Maruti Ertiga VDI     Chennai  2012              87000
4   Audi A4 New 2.0 TDI Multitronic  Coimbatore  2013              40670

  Fuel_Type Transmission Owner_Type     Mileage   Engine      Power  Seats  \
0       CNG       Manual      First  26.6 km/kg   998 CC  58.16 bhp    5.0
1    Diesel       Manual      First  19.67 kmpl  1582 CC  126.2 bhp    5.0
2    Petrol       Manual      First   18.2 kmpl  1199 CC   88.7 bhp    5.0
3    Diesel       Manual      First  20.77 kmpl  1248 CC  88.76 bhp    7.0
4    Diesel    Automatic     Second   15.2 kmpl  1968 CC  140.8 bhp    5.0

   Price
0   1.75
1  12.50
2   4.50
3   6.00
4  17.74