# Day 73 - Pivot Tables

1. The following tips DataFrame is given:

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2
 
[244 rows x 7 columns]

Using the pivot tables prepare the following DataFrame:

           tip  total_bill
day                       
Fri   2.734737   17.151579
Sat   2.993103   20.441379
Sun   3.255132   21.410000
Thur  2.771452   17.682742

Average value of the tip and total_bill columns broken down into days.

In [1]:
import pandas as pd
import numpy as np

tips = pd.read_csv( 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv' )
result = pd.pivot_table( tips, index='day', values=['tip', 'total_bill'], aggfunc=np.mean )
print(result)

           tip  total_bill
day
Fri   2.734737   17.151579
Sat   2.993103   20.441379
Sun   3.255132   21.410000
Thur  2.771452   17.682742

2. The following tips DataFrame is given:

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2
 
[244 rows x 7 columns]

Using the pivot tables prepare the following DataFrame:

                  tip  total_bill
day  sex                         
Fri  Female  2.781111   14.145556
     Male    2.693000   19.857000
Sat  Female  2.801786   19.680357
     Male    3.083898   20.802542
Sun  Female  3.367222   19.872222
     Male    3.220345   21.887241
Thur Female  2.575625   16.715312
     Male    2.980333   18.714667

Average value of the tip and total_bill columns broken down into days and gender.

In [2]:
import pandas as pd
import numpy as np

tips = pd.read_csv( 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv' )
result = pd.pivot_table(
    tips,
    index=['day', 'sex'],
    values=['tip', 'total_bill'],
    aggfunc=np.mean,
)
print(result)

                  tip  total_bill
day  sex
Fri  Female  2.781111   14.145556
     Male    2.693000   19.857000
Sat  Female  2.801786   19.680357
     Male    3.083898   20.802542
Sun  Female  3.367222   19.872222
     Male    3.220345   21.887241
Thur Female  2.575625   16.715312
     Male    2.980333   18.714667

3. The following tips DataFrame is given:

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2
 
[244 rows x 7 columns]

Using the pivot tables prepare the following DataFrame:

        tip  total_bill
day                    
Fri    4.73       40.17
Sat   10.00       50.81
Sun    6.50       48.17
Thur   6.70       43.11

Maximum value of the tip and total_bill columns broken down into days.

In [3]:
import pandas as pd
import numpy as np
 
tips = pd.read_csv( 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv' ) 
result = pd.pivot_table(
    tips, index='day', values=['tip', 'total_bill'], aggfunc=np.max
)
print(result)

        tip  total_bill
day
Fri    4.73       40.17
Sat   10.00       50.81
Sun    6.50       48.17
Thur   6.70       43.11

4. The following tips DataFrame is given:

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2
 
[244 rows x 7 columns]

Using the pivot tables prepare the following DataFrame:

                         tip  total_bill
day  sex    smoker                      
Fri  Female No      3.125000   19.365000
            Yes     2.682857   12.654286
     Male   No      2.500000   17.475000
            Yes     2.741250   20.452500
Sat  Female No      2.724615   19.003846
            Yes     2.868667   20.266667
     Male   No      3.256563   19.929063
            Yes     2.879259   21.837778
Sun  Female No      3.329286   20.824286
            Yes     3.500000   16.540000
     Male   No      3.115349   20.403256
            Yes     3.521333   26.141333
Thur Female No      2.459600   16.014400
            Yes     2.990000   19.218571
     Male   No      2.941500   18.486500
            Yes     3.058000   19.171000

Average value of the tip and total_bill columns broken down into days, gender and smoker / non-smoker.

In [4]:
import pandas as pd
import numpy as np

tips = pd.read_csv( 'https://raw.githubusercontent.com/mwaskom/seaborn-data/master/tips.csv' )
result = pd.pivot_table(
    tips,
    index=['day', 'sex', 'smoker'],
    values=['tip', 'total_bill'],
    aggfunc=np.mean,
)
print(result)

                         tip  total_bill
day  sex    smoker
Fri  Female No      3.125000   19.365000
            Yes     2.682857   12.654286
     Male   No      2.500000   17.475000
            Yes     2.741250   20.452500
Sat  Female No      2.724615   19.003846
            Yes     2.868667   20.266667
     Male   No      3.256563   19.929063
            Yes     2.879259   21.837778
Sun  Female No      3.329286   20.824286
            Yes     3.500000   16.540000
     Male   No      3.115349   20.403256
            Yes     3.521333   26.141333
Thur Female No      2.459600   16.014400
            Yes     2.990000   19.218571
     Male   No      2.941500   18.486500
            Yes     3.058000   19.171000