# day 72 - Merging

1. The following DataFrames are given:

employees

  emp_id first_name last_name dept_id
0   1001       John     Smith     002
1   1002       Mark      Cook     001
2   1003        Bob       Cat     001
3   1004      Alice       Lee     005

departments

  dept_id  dept_name
0     001         IT
1     002      Sales
2     003  Marketing
3     004    Support

Using the pd.merge() function make an OUTER join of employees and departments DateFrames based on the dept_id column. Note that the employees DataFrmae doesn't have employees for departments with dept_id of '003' and '004'. Also note that the departments DataFrame doesn't have a department with dept_id '005'.

In [1]:
import pandas as pd
  
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '005']
})
 
departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})
 
result = pd.merge(employees, departments, how='outer', on='dept_id')
print(result)

  emp_id first_name last_name dept_id  dept_name
0   1001       John     Smith     002      Sales
1   1002       Mark      Cook     001         IT
2   1003        Bob       Cat     001         IT
3   1004      Alice       Lee     005        NaN
4    NaN        NaN       NaN     003  Marketing
5    NaN        NaN       NaN     004    Support

2. The following DataFrames are given:

employees

  emp_id first_name last_name dept_id
0   1001       John     Smith     002
1   1002       Mark      Cook     001
2   1003        Bob       Cat     001
3   1003        Bob       Cat     001
4   1004      Alice       Lee     005

departments

  dept_id  dept_name
0     001         IT
1     002      Sales
2     003  Marketing
3     004    Support

Notice that we have a duplicate row in the employees DataFrame this time. Using the pd.merge() function make an INNER join of employees and departments DataFrames based on the dept_id column.

In [2]:
import pandas as pd
 
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '001', '005']
})
 
departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})
 
result = pd.merge(employees, departments, how='inner', on='dept_id')
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT
3   1003        Bob       Cat     001        IT

3. The following DataFrames are given:

employees

  emp_id first_name last_name dept_id
0   1001       John     Smith     002
1   1002       Mark      Cook     001
2   1003        Bob       Cat     001
3   1003        Bob       Cat     001
4   1004      Alice       Lee     005

departments

  dept_id  dept_name
0     001         IT
1     002      Sales
2     003  Marketing
3     004    Support

Notice that we have a duplicate row in the employees DataFrame. Remove the duplicate from the employees DataFrame and assign them to the employees_unique variable. Then use the pd.merge() function to make an INNER join of employees_unique and departments DataFrames based on the dept_id column.

In [3]:
import pandas as pd
 
employees = pd.DataFrame({
    'emp_id': ['1001', '1002', '1003', '1003', '1004'],
    'first_name': ['John', 'Mark', 'Bob', 'Bob', 'Alice'],
    'last_name': ['Smith', 'Cook', 'Cat', 'Cat', 'Lee'],
    'dept_id': ['002', '001', '001', '001', '005']
})
 
departments = pd.DataFrame({
    'dept_id': ['001', '002', '003', '004'],
    'dept_name': ['IT', 'Sales', 'Marketing', 'Support']
})
 
employees_unique = employees.drop_duplicates()
result = pd.merge(
    employees_unique, departments, how='inner', on='dept_id'
)
print(result)

  emp_id first_name last_name dept_id dept_name
0   1001       John     Smith     002     Sales
1   1002       Mark      Cook     001        IT
2   1003        Bob       Cat     001        IT